*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #0c0e31; */
    /* color: #fff; */
    font-family:  calibri;
}
header
{
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0e31; 
    color: #fff;
}


header .logo
{
    position: relative;
    font-size: 26px;
    text-decoration: none;
    font-weight: 800;
}

header .nav
{
    font-weight: 500;
    padding: 2px 40px;
}
header .nav a{
    text-decoration: none;
    color: #fff;
}

header .nav a:not(:last-child)
{
    margin-right: 30px;
}

header.nav a:hover{
    background-color: #fff;
    color: #0c0e31;
}

#topsection
{
    position: relative;
    top: 0;
    padding: 30px 100px;
    height: auto;
    background-color: #0c0e31; 
    color: #fff;
    float: left; 
    width: 60%;
}
#pc_sec
{
    top: 0;
    background-color: #0c0e31; 
    height: 206px;
    padding-left: 850px;
}
#mainpara
{
    font-weight:500;
    font-size: 30px;
}
button{
    border-radius: 35px;
    font-weight: 600;
    margin: 30px 0px;
    padding: 5px 10px;
    border: 2px solid #fff;
    cursor: pointer;
    background-color: #0c0e31; 
    color: #fff;
}
#bottomsection
{
    background-color:#fff;
    height: 500px;
}
h1
{
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 30px 0px;
}

.one
{
    background-color: #f6f3e9;
    width: 290px;
    height: 350px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}
.two
{
    background-color: #3490c1;
    width: 290px;
    height: 350px;
    float: right;
    margin-left: 20px;

}
.three
{
    background-color: #fcae1e;
    width: 290px;
    height: 350px;
    float: right;
    margin-left: 20px;
}
.four
{
    background-color: #fc6a03;
    width: 290px;
    height: 350px;
    float: right;
    margin-left: 20px;
}
h3{
    color: #0c0e31;
    padding-left: 20px;
 }
 .paras
 {
    padding-left: 20px;
    padding-right: 20px;

 }
#bottomsection img{
    width: 40%;
    height: 80px;
}

#brown
 {
    color: burlywood;
 }
 i 
 {
    width: 100px;
    height: 100px;
    background-color: none;
 }

 #bottomsection img{
    margin: 20px;
 }
 footer
{
    padding: 0px 470px;
    background-color: #0c0e31; 
    color: #fff; 
    padding-top: 20px;
    padding-bottom: 10px;
}
footer p{
    font-weight:500;
    font-size: 22px;           
}